!!! 5
html
  head
    title Bragi Media Server
  body!= body
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/vendor/jquery.min.js')
    script(src='/scripts/vendor/jade.js')
    script(src='/scripts/index.js')
